{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["transform-class-properties"],
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
      ]
    }
  }
}
