.omni-ui-switch {
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 2.5em;
  min-height: 1.5em;
  border-radius: 0.75em;
  padding: 0 2px;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;

  &>.omni-ui-switch-slider {
    position: absolute;
    left: 2px;
    top: 0.125em;
    height: 1em;
    width: 1em;
    border-radius: .5em;
    transition: all 0.5s ease-out, width 0.3s ease-out, left 0.3s ease-out;
    -moz-transition: all 0.5s ease-out, width 0.3s ease-out, left 0.3s ease-out;
    -webkit-transition: all 0.5s ease-out, width 0.3s ease-out, left 0.3s ease-out;
    -o-transition: all 0.5s ease-out, width 0.3s ease-out, left 0.3s ease-out;
  }

  &:active>.omni-ui-switch-slider {
    width: 1.2em;
    border-radius: .5em 0 0 .5em;
  }

  &>.omni-ui-switch-label {
    display: block;
    box-sizing: border-box;
    height: 100%;
    padding-left: 1.3em;
    padding-right: 4px;
  }
}

.omni-ui-switch-checked {
  &>.omni-ui-switch-slider {
    left: calc(100% - 1em - 2px);
  }

  &:active>.omni-ui-switch-slider {
    left: calc(100% - 1.2em - 2px);
    width: 1.2em;
    border-radius: 0 .5em .5em 0;
  }

  &>.omni-ui-switch-label {
    padding-right: 1.3em;
    padding-left: 4px;
  }
}
